<h2>Search Results</h2>
<ag-grid-angular
  #agGridMatchingFoods
  [defaultColDef]="defaultColDef"
  class="ag-theme-alpine short-grid"
  [rowData]="matchingFoods"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [gridOptions]="gridOptions"
  [frameworkComponents]="frameworkComponents"
  groupSelectsChildren 
>
</ag-grid-angular>
<h2>Chosen Foods</h2>
<ag-grid-angular
  #agGridChosenFoods
  [defaultColDef]="defaultColDef"
  class="ag-theme-alpine"
  [rowData]="chosenFoods"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [gridOptions]="gridOptions"
  [frameworkComponents]="frameworkComponents"
  groupSelectsChildren 
>
</ag-grid-angular>
<h2>Suggested Foods</h2>
<ag-grid-angular
  #agGridSuggestedFoods
  [defaultColDef]="defaultColDef"
  class="ag-theme-alpine"
  [rowData]="suggestedFoods"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [gridOptions]="gridOptions"
  [frameworkComponents]="frameworkComponents"
  groupSelectsChildren 
>
</ag-grid-angular>

<div class="content" role="main">

  <input id="preview" type="file" (change)="loadCSV($event.target.files)" />
  <button (click)="pickSuggestedFoods()">Suggest Foods</button>
  <button (click)="addRandomFood()">Add Random Food</button>
  <button (click)="clearSuggestedFoods()">Clear Suggested Foods</button>
  <button (click)="chooseFoods()">Add To Chosen Foods</button>
  <button (click)="clearChosenFoods()">Clear Chosen Foods</button>
  <button (click)="removeChosenFoods()">Remove Selected Chosen Foods</button>
  <button (click)="replaceSuggestedFoods()">Replace Suggested Foods</button>
  <button (click)="removeFoods()">Remove Suggested Foods</button>
  <button (click)="addSearchedFoods()">Add Searched Foods</button>
  <input type="search" [(ngModel)]="search"><button (click)="searchFood(search)">Search</button>

  <p>Req Protein Per Calorie: {{averageReqProteinPerCalorie}}</p>
  <p>Total Price: {{totalPrice}} Total Protein Per Day: {{totalProteinPerDay}} Days Food: {{daysFood}}</p>
</div>