<h2>Foods Eaten Today</h2>
<ag-grid-angular
  #agGridEatenFoods
  [defaultColDef]="defaultColDef"
  class="ag-theme-alpine"
  [rowData]="foodsEatenToday"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [gridOptions]="gridOptions"
  [frameworkComponents]="frameworkComponents"
  groupSelectsChildren 
>
</ag-grid-angular>
<h2>Chosen Foods</h2>
<ag-grid-angular
  #agGridChosenFoods
  [defaultColDef]="defaultColDef"
  class="ag-theme-alpine"
  [rowData]="chosenFoods"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [gridOptions]="gridOptions"
  [frameworkComponents]="frameworkComponents"
  groupSelectsChildren 
>
</ag-grid-angular>
<button (click)="setFoodAsEaten()">Set Food As Eaten</button>
<button (click)="setFoodAsNotEaten()">Set Food As Not Eaten</button>
<input type="search" [(ngModel)]="fractionEaten">
<h2>Calories Today:</h2>
<h2>{{ caloriesToday | number : '1.2-2'}}</h2>
<h2>Average Calories Last Week:</h2>
<h2>{{ averageCaloriesLastWeek | number : '1.2-2'}}</h2>
<h2>Protein Today:</h2>
<h2>{{ proteinToday | number : '1.2-2'}}</h2>
<h2>Average Protein Last Week:</h2>
<h2>{{ averageProteinLastWeek | number : '1.2-2'}}</h2>
<app-line-chart [data]='data'></app-line-chart>
<app-line-chart [data]='proteinData'></app-line-chart>