<div class="card">
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <form *ngIf="!isLoading" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <label for="email">E-Mail</label>
            <input 
                type="email" 
                id="email" 
                class="input" 
                name="email"
                required
                email
                formControlName="email"
            />
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input 
                type="password" 
                id="password" 
                class="input"
                name="password"
                required
                minlength="6"
                formControlName="password"
            />
        </div>
        <div class="column">
            <button [disabled]="!loginForm.valid" type="submit">{{isLoginMode ? 'Login' : 'Sign Up'}}</button>
            <button (click)="onSwitchMode()" type="button">Switch to {{isLoginMode ? 'Sign Up' : 'Login'}}</button>
        </div>
    </form>
</div>
  