<h2>Search Results</h2>
<ag-grid-angular
  #agGridMatchingFoods
  [defaultColDef]="defaultColDef"
  class="ag-theme-alpine"
  [rowData]="matchingFoods"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [gridOptions]="gridOptions"
  groupSelectsChildren 
>
</ag-grid-angular>
<h2>Fixed Foods</h2>
<ag-grid-angular
  #agGridFixedFoods
  [defaultColDef]="defaultColDef"
  class="ag-theme-alpine"
  [rowData]="fixedFoods"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [gridOptions]="gridOptions"
  groupSelectsChildren 
>
</ag-grid-angular>
<h2>Suggested Foods</h2>
<ag-grid-angular
  #agGridPickedFoods
  [defaultColDef]="defaultColDef"
  class="ag-theme-alpine"
  [rowData]="pickedFoods"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [gridOptions]="gridOptions"
  groupSelectsChildren 
>
</ag-grid-angular>

<div class="content" role="main">

  <input id="preview" type="file" (change)="previewFile($event.target.files)" />
  <button (click)="pickFoods()">Pick Foods</button>
  <button (click)="addRandomFood()">Add Food</button>
  <button (click)="clearPickedFoods()">Clear Picked Foods</button>
  <button (click)="fixFoods()">Fix Foods</button>
  <input type="search" [(ngModel)]="search"><button (click)="searchFood(search)">Search</button>

  <table class="table table-bordered table-dark mt-5">
    <thead>
      <tr>
        <!-- <th *ngFor="let item of lines[0]; let i = index">{{item}}</th> -->
        <th>Name</th> <!-- Food -->
        <th>ProteinPer100Calorie</th> <!-- ProteinPer100Calorie -->
        <th>Price</th> <!-- Price -->
        <th>TotalCalories</th> <!-- TotalCalories -->
        <th>TotalProtein</th> <!-- TotalProtein -->
        <td>PoundsPer1000Calorie</td> <!-- PoundsPer1000Calorie -->
        <td>Rank</td> <!-- Rank -->
        <th>Replace</th>
        <th>Fix</th>
        <th>Remove</th>
        <th>Not Available</th>
        <th>Add</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{'rated-before' : food.rankWeighting != 0}" *ngFor="let food of matchingFoods; let i = index">
        <td><a (click)="onClickMatchingFood(i)">{{food.name}}</a></td>
        <td>{{food.proteinPer100Calorie | number : '1.2-2'}}</td>
        <td>{{food.price}}</td>
        <th>{{food.totalCalories | number : '1.2-2'}}</th>
        <td>{{food.totalProtein | number : '1.2-2'}}</td>
        <td>{{food.poundsPer1000Calories | number : '1.2-2'}}</td>
        <td>{{food.rankWeighting | number : '1.0-0'}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="checkbox" (change)="addMatchingFood(i)"></td>
      </tr>
      <tr>//////////////////////////////////////////////////////////////////////////////////////////////////////////////
      </tr>
      <tr [ngClass]="{'rated-before' : food.rankWeighting != 0}" *ngFor="let food of fixedFoods; let i = index">
        <td><a (click)="onClickFixedFood(i)">{{food.name}}</a></td>
        <td>{{food.proteinPer100Calorie | number : '1.2-2'}}</td>
        <td>{{food.price}}</td>
        <th>{{food.totalCalories | number : '1.2-2'}}</th>
        <td>{{food.totalProtein | number : '1.2-2'}}</td>
        <td>{{food.poundsPer1000Calories | number : '1.2-2'}}</td>
        <td>{{food.rankWeighting | number : '1.0-0'}}</td>
        <td><input type="checkbox" (change)="replaceFixedFood(i)"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>//////////////////////////////////////////////////////////////////////////////////////////////////////////////
      </tr>
      <tr [ngClass]="{'rated-before' : food.rankWeighting != 0}" *ngFor="let food of pickedFoods; let i = index">
        <td><a class="clickable" (click)="onClickPickedFood(i)">{{food.name}}</a></td>
        <td>{{food.proteinPer100Calorie | number : '1.2-2'}}</td>
        <td>{{food.price}}</td>
        <th>{{food.totalCalories | number : '1.2-2'}}</th>
        <td>{{food.totalProtein | number : '1.2-2'}}</td>
        <td>{{food.poundsPer1000Calories | number : '1.2-2'}}</td>
        <td>{{food.rankWeighting | number : '1.0-0'}}</td>
        <td><input type="checkbox" (change)="replaceFood(i)"></td>
        <td><input type="checkbox" (change)="fixFood(i)"></td>
        <td><input type="checkbox" (change)="removeFood(i)"></td>
        <td><input type="checkbox" (change)="notAvailable(i)"></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <p>Total Price: {{totalPrice}} Total Protein Per Day: {{totalProteinPerDay}} Days Food: {{daysFood}}</p>

  <button (click)="getSelectedRows()">Get Selected Rows</button>



 

</div>


<router-outlet></router-outlet>