/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/src/styles/ag-grid.scss";
@import "ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine((
        odd-row-background-color: #49acd6,
        header-background-color: #25a9c0,
        row-hover-color: #3700ff,
    ));
}

ag-grid-angular {
    width: 100%; 
    height: 25vh;
}

button {
    min-width: 100px;
    min-height: 50px;
    background-color: #49acd6;
}

button:hover {
    cursor: pointer;
    background-color: #3700ff,
}